mixin footer()
	+b.FOOTER.footer
		.container.text-center.text-md-start
			+e.row.row.align-items-center
				.col-md-auto
					+e.logo(href="#")
						img(loading="lazy" src="img/svg/logo-new.svg" alt="")
						span С-проджект
				.col-md
					+e.txt Разработка и согласование проектов производственных работ для строительства
				+e.policy-col.col-md-auto
					a(href="#") Политика конфиденциальности