mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" style="display: none")
		+e.row.row
			.col-lg-6
				+e.title
					| Рассчитайте стоимость
					| проекта
					span за 1 минуту
				p Выберите вид ППР для любого вида строительных работ, менеджер перзвонит вам для уточнения деталей, покажет реализованыее проекты и рассчитает стоимость.
				+form-wrap
					+e.inputs
						+e.input-wrap
							+e.INPUT.input()
			.col-lg
	// #modal-call
	
	// end modals