mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		+e.map.d-none.d-md-block
			//-.make-yandex-lazy-js(data-src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afc5326583a0d0f770f3e89e8147b5939536e33547093787f00f2944799db44a3&amp;width=1080&amp;height=518&amp;lang=ru_RU&amp;scroll=false")
			.make-yandex-lazy-js(data-src="<script async src=\"https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afc5326583a0d0f770f3e89e8147b5939536e33547093787f00f2944799db44a3&amp;width=1080&amp;height=518&amp;lang=ru_RU&amp;scroll=false\"></script>")
			//-
		+e.container.container
			+e.box-wrap
				+e.box
					h2 Контакты
					+e.title Телефон:
					+e.txt--tell(href="tel:+74959713971") +7 (495) 971-39-71
					+e.title Режим работы:
					+e.txt--shedule
						span пн–пт: 9:30–19:00
						span сб–вс: выходной
					+e.title Электронная почта:
					+e.txt--mail(href="mailto:mail@orgdoc.ru") mail@orgdoc.ru
					+e.title Адрес офиса:
					+e.txt--address Москва, Алтуфьевское шоссе, дом 48, корпус 1
	// end sContact