extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAlso/_sAlso.pug
include ../blocks/sMade/_sMade.pug
include ../blocks/sCategory/_sCategory.pug
include ../blocks/sOrder/_sOrder.pug
include ../blocks/sSpec/_sSpec.pug
include ../blocks/sStandart/_sStandart.pug
include ../blocks/sDay/_sDay.pug
include ../blocks/sOpen/_sOpen.pug
include ../blocks/sFeedback/_sFeedback.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg="01.png"

block title
	- let  title= 'modals'
	title= title
block pagecontent
	//-+mob-mnu()
	.section
		.container
			.row.gy-3
				+modalLink('#modal-calc', 'Рассчитайте стоимость проекта за 1 минуту')
				+modalLink('#modal-call', 'Мы перезвоним!')
				+modalLink('#modal-price', 'Узнать стоимость такого ППР')
				+modalLink('#modal-thanks', 'Спасибо за заявку!')

mixin modalLink(href, txt)
	.col-auto
		a.btn.btn-info.text-white.link-modal-js(href=href)=txt