mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container-lg
			+e.slider-wrap
				.swiper.menu-slide-js
					.swiper-wrapper
						+topLineSlide('Услуги')
						+topLineSlide('Выполненые проекты')
						+topLineSlide('Калькулятор')
						+topLineSlide('Отзывы')
						+topLineSlide('Сертификаты')
						+topLineSlide('Новости')
						+topLineSlide('Контакты')

	// end topLine

mixin topLineSlide(txt, href="#")
	.swiper-slide
		+e.item(href=href)=txt